.sidebar {
    width: 12rem;
    height: 100%;
    display: inline-block;
    background-color: rgb(247, 246, 248);
    position: relative;
    /* border-radius: 5px; */
    /* box-shadow: inset 0 0 15px 5px #f1f3f361; */
    padding-top: 5vh;

}

.menu>li {
    padding: 0 2.3rem;
    margin: 3vh 0;
    font-size: 3vh;
    line-height: 5vh;
    font-family: "Source Sans Pro", sans-serif;

}

/* width should be on the top */
.liul {
    width: 0;
    position: absolute;
    transform: translate(0, -40%);
    left: 20vh;
    padding-left: 0vh;
    text-indent: 1em;
    width: 0;
    background-color: #69b5ada8;
    border-radius: 2px;
    overflow: hidden;
    margin: 0;
    line-height: 250%;
}

.menu li:hover ul {
    width: 20vh;
}

.menu li:hover {
    background-color: rgba(42, 116, 116, 0.25);
}

.account {
    font-size: 15px;
    text-align: center;
}

.img {
    width: 16vh;
    height: 16vh;
    background-color: beige;
    margin: 2vh auto;
    border-radius: 50%;
}