@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Source+Sans+Pro&display=swap');
*{
	margin:0;
    padding: 0;
	box-sizing: border-box;

}

/* light blue:#ADBCFF
half-dark blue:#6977B5
dark blue:#323C69
light orange:#DBD6C8
dark brown: #968A65 */


li{
    list-style: none
}

.sidebar{
    width: 20vh;
    height: 80vh;
    display: inline-block;
    background-color: #4a48426f;
    position: relative;
    border-radius: 5px;
    /* box-shadow: inset 0 0 15px 5px #f1f3f361; */
    padding-top: 5vh;
    
}
.menu>li{
    padding: 0 3vh;
    margin: 3vh 0;
    font-size: 3vh;
    line-height: 6vh;
    font-family: "Source Sans Pro", sans-serif;

}
/* width should be on the top */
.liul{
    width: 0;
    position: absolute;
    transform: translate(0, -40%) ;
    left: 20vh;
    padding-left: 0vh;
    text-indent:1em;
    width: 0;
    background-color: #69b5ada8;
    border-radius: 2px;
    overflow: hidden;
    margin: 0;  
    line-height: 250%;
}

li:hover ul{
    width: 20vh;
}
li:hover {
    background-color: rgba(42, 116, 116, 0.25);
}

.account{
    font-size: 15px;
    text-align: center;
}

.img{
    width: 16vh;
    height: 16vh;
    background-color: beige;
    margin: 2vh auto;
    border-radius: 50%;
}



