* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    box-sizing: border-box;

}

* {
    --header-hight: 10vh;
    --box-margin: 10vh;
    --form-width: 40vh;
    --form-height: 60vh;
}



.header {
    display: flex;
    height: var(--header-hight);
    // 
    background-color: rgb(247, 246, 248);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(247, 246, 248, 0.457);
    justify-content: space-between;
}

.forum {
    color: rgb(5, 5, 5);
    font-size: 5vh;
    font-family: "Oleo Script Swash Caps", sans-serif;
    /* display: inline-block; */
    margin-left: var(--box-margin);
    line-height: var(--header-hight);
}


.login {
    position: relative;
    width: 25vh;
    // padding-right: var(--box-margin);
    text-align: center;
    font-family: "kanit", sans-serif;
    line-height: 10vh;
    right: 5vh;

    .logbox {
        background-color: rgb(171, 169, 173);
        // display: inline-block;
        height: 5vh;
        width: 10vh;
        line-height: 5vh;
        border-radius: 10px;
        text-align: center;
        right: 5vh;
        margin-top:2.5vh;
        float: left;
        margin-left: 2vh;
    }
}

.show {
    visibility: visible;
}

.hide {
    visibility:hidden;
    position: absolute;
}





.login div:hover {
    background-color: rgb(89, 90, 89);
    font-size: 900;
}